.answer_dialog{:id => "answer_q"+question.id.to_s, :data => {:question_id => question.id, :title => question.answer_dialog_title}}
  #dlg_content
    %table#img_and_text
      %tr
        - if question.photo.url
          %td.qimage.qtext= link_to image_tag(question.photo.try(:standard).try(:url)), '#'
      %tr
        %td.qtext= question.question_text
    .qform
      = semantic_form_for @answer, :url => post_url, :remote => (params['controller'] != 'welcome') do |f|
        = f.inputs do
          - if question.question_type == Question::QUESTION_TYPES.index(:multiple_choice)
            .mc_options
              = f.input :multiple_choice_option_id, :as => :radio, :collection => question.multiple_choice_options, :member_label => :answer_text
          - elsif question.question_type == Question::QUESTION_TYPES.index(:true_false)
            = f.input :true_false_answer, :as => :hidden
            .true_false_buttons
              %table
                %tr
                  %td= link_to "Yes", '#', :id => "yes"
                  %td= link_to "No", '#', :id => "no"
          - elsif question.question_type == Question::QUESTION_TYPES.index(:open_text)
            .character_counter{:data => {:chars => 200}}
              = f.input :open_text_answer
          - elsif question.question_type == Question::QUESTION_TYPES.index(:canned_question)
            = f.input :canned_question_choice_id, :as => :hidden
            .canned_question
              .choices
                %ol
                  - question.canned_question_choices.each do |choice|
                    %li
                      .image
                        .wrap= image_tag "http://graph.facebook.com/#{choice.friend_fb_id}/picture?type=normal"
                      .name= choice.friend_name
                      .button= link_to "Select", '#', :data => {:friend_id => choice.friend_fb_id}

        - if question.canned_question_id.nil?
          = f.input :post_to_wall, :as => :hidden, :value => false
        - else  # only show this for canned questions
          = f.inputs do
            - if true#valid_access_token?
              = f.input :post_to_wall, :as => :boolean, :label => "Post to Timeline", :wrapper_html => {:class => 'wallpost'}

        = f.actions do
          = f.input :question_id, :as => :hidden, :value => question.id
          = f.input :user_id, :as => :hidden
          - unless question.question_type == Question::QUESTION_TYPES.index(:canned_question) || question.question_type == Question::QUESTION_TYPES.index(:true_false)
            = f.action :submit, :label => "Submit"
    .clear
    - unless @question.canned_question_id || @question.public?
      .answer_footer
        You can be completely open and honest with #{@question.user.first_name.capitalize}.  We only reveal answers when at least 4 other people have also answered.  The answers are anonymous, so #{@question.user.first_name.capitalize} won't know which answer was yours.
    .answer_links
      = link_to "You can also create your own question!", new_question_path
      - if @user && @user.flagged_questions.where(:question_id => question.id).count == 0
        %span.dlg_flagger= link_to "Flag This Question &raquo;".html_safe, '#'

  #post_answer_spinner{:style => "display: none"}= image_tag "/assets/admin/layout/form_spinner.gif"
