= semantic_form_for @question, :url => form_url, :multipart => true do |f|
  = f.inputs do
    = f.input :post_to_wall, :as => :public_private, :label => "Settings"

    /
      - if valid_access_token?
        = f.input :post_to_wall, :as => :boolean, :label => "Settings"
      - else
        %li#sign_in_input
          %label
          = oauth_link_tag "Sign in to Facebook to post to your Timeline"

    =# f.input :category, :prompt => "Choose a category", :collection => Category.for_select
    = f.input :question_text, :as => :text, :prompt => "Ex: Am I a talented singer?", :label => "Enter Question"
    = f.input :photo, :as => :question_photo, :label => "&nbsp;".html_safe
    = f.input :question_type, :as => :radio, :collection => [["Multiple Choice", 0], ["Yes or No", 1], ["Open Ended", 2]], :label => "Type"
    .clearer

  #multiple_choice_answers.hidden
    #add_answers Answers
    #answers
      - curr_char = 'A'
      = f.inputs :class => "inputs multi_choice", :for => :multiple_choice_options do |g|
        = g.input :answer_text, :as => :string, :label => curr_char, :wrapper_html => {:class => 'mchoice'}
        .minus_button= link_to image_tag("/assets/questions/minus_button.png"), '#'
        - curr_char = curr_char.succ
      #add_button
        = link_to image_tag("/assets/questions/plus_button.png"), '#'
        #add_blurb Add another answer

  = f.actions do
    = f.action :submit, :label => @question.id ? "Edit Your Question" : "Create Your Question"
    .spinner= image_tag "/assets/admin/layout/form_spinner.gif"
    .clear
  #bottom_blurb You will choose who sees this on the next page.
