- content_for :extra_css do
  = stylesheet_link_tag "sb_formtastic"
  = stylesheet_link_tag "questions/screen"
  = stylesheet_link_tag "share/share"

= render :partial => "dashboard/dash_nav"

.prepend-top.prepend-1.span-22.append-1
  %fieldset
    %legend Setup a New Question

    .span-20
      .inner_tabs
        %ul
          %li= link_to "Create Your Own Question", new_question_path
          %li.selected Choose a Question
          .clear

      .span-9#single_questions
        = image_tag "questions/single_question_arrow.jpg"
        %ol
          - @default_questions.each do |dq|
            %li.dq{:data => {:default_question_id => dq.id}}= dq.question_text

      .prepend-1.span-9#questionnaires
        = image_tag "questions/questionnaire_arrow.jpg"
        %ul
          - @questionnaires.each_with_index do |q, i|
            %li.q{:data => {:questionnaire_id => q.id}}
              %h5= "#{i+1}. #{q.name.upcase}"
              %ol
                - q.default_questions.each do |dq|
                  %li.dq= dq.question_text

#share_dialog


- content_for :extra_javascripts do
  = javascript_include_tag "questions/choose_question"