.cm_content
  #chooseq_top
    For inspiration, simply choose from one of the popular questions asked by our users.
    = link_to image_tag("questions/blue_question.png"), '#'

  .inner_content
    .inner_nav
      .under.fuzzy#write= link_to "Write Question", new_question_path
      .over.fuzzy#choose Choose Question
    .qs_asked_today.fuzzy= render :partial => "questions/asked_today"
    .qcontainer.fuzzy
      %table#default_questions{:data => {:page => params['page'] || 1, :num_questions => @num_questions, :per_page => @per_page}}
        %thead
          %tr
            %th
              Category&nbsp;
              = select_tag "category_id", options_from_collection_for_select(Category.for_select, 'id', 'name', params['category_id']), :include_blank => true
            %th &nbsp;
            %th Last asked
        %tbody
          - @default_questions.each do |dq|
            %tr
              %td
                .qtext= dq.question_text
                .cat Category: #{link_to dq.category.name, category_path(dq.category_id)}
              %td.askq{:data => {:default_question_id => dq.id}}
                = link_to "Ask this question", '#'
              %td.last_asked= dq.last_asked_at ? time_ago_in_words(dq.last_asked_at) + " ago" : "never"
        %tfoot
          %tr
            %td{:colspan => 3}
              = will_paginate @default_questions, :page_links => false, :previous_label => "Back", :next_label => "Next"



#share_dialog
#post_share_dialog


- content_for :extra_javascripts do
  = javascript_include_tag "questions/choose_question"