- content_for :extra_css do
  = stylesheet_link_tag "questions/new_question"

.grad_bg
  .cm_content
    - if @show_canned_answer
      #canned_answer= @show_canned_answer
    #newq_top
      #newq_hdr Write a Question Below OR Choose from our Suggested Questions
      #newq_subhdr
        Our Anonymous Answer App means You Discover the Real Truth to Hard Questions
        = link_to "more info", '#'
      #newq_lightbox
        Our 100% anonymous question and answer network allows you to ask anyone anything and get completely truthful responses even about things they would never tell you directly.

    .inner_content
      .inner_nav
        .over.fuzzy#write Write Question
        .under.fuzzy#choose= link_to "Suggested Questions", choose_question_path
      .curr_step.fuzzy Step 1 of 2
      .qs_asked_today.fuzzy= render :partial => "questions/asked_today"
      .qcontainer.fuzzy#qform{:data => {:default_question_text => @default_question_text, :default_mc_answer_text => @default_mc_answer_text}}
        = render :partial => "questions/form", :locals => {:form_url => new_question_path}
        =# render :partial => "questions/post_preview"



#share_dialog
#post_share_dialog

- if flash[:notice] == "Answer Posted"
  #answer_posted_dialog
    .posted Your Answer has been Posted!
    Close this dialog to begin creating your own question that you can share with your friends!

- if @show_pitch_dlg
  = render :partial => "partials/pitch_dialog"


- content_for :extra_javascripts do
  = javascript_include_tag 'questions/questions'
  = javascript_include_tag "questions/resize_cm_content"
  = javascript_include_tag "questions/answer_posted" if flash[:notice] == 'Answer Posted'
  = javascript_include_tag "questions/pitch_dialog" if @show_pitch_dlg