- content_for :extra_css do
  = stylesheet_link_tag "sb_formtastic"
  = stylesheet_link_tag "questions/screen"
  = stylesheet_link_tag "share/share"

= render :partial => "dashboard/dash_nav"

.prepend-top.prepend-1.span-22.append-1
  %fieldset
    %legend Setup a New Question

    .span-20
      .inner_tabs
        %ul
          %li.selected Create Your Own Question
          %li= link_to "Choose a Question", choose_question_path
          .clear
      #qform= render :partial => "questions/form"

#share_dialog
#post_share_dialog

- if flash[:notice] == "Answer Posted"
  #answer_posted_dialog
    .posted Your Answer has been Posted!
    Close this dialog to begin creating your own question that you can share with your friends!


- content_for :extra_javascripts do
  = javascript_include_tag 'questions/questions'
  = javascript_include_tag "questions/answer_posted" if flash[:notice] == 'Answer Posted'