.cm_content
  #curr_step Step 1 of 2
  - if @show_canned_answer
    #canned_answer= @show_canned_answer
  #newq_top
    #newq_hdr Our Anonymous Answer App means You Get the REAL TRUTH to Hard Questions!
    #newq_subhdr
      Enter ANY Question below or Choose one of our Suggested Questions.
      =# image_tag("questions/blue_question.png")
      = link_to "More Info", '#'
    #newq_lightbox
      Our 100% anonymous question and answer network allows you to ask anyone anything and get completely truthful responses even about things they would never tell you directly.

  .inner_content
    .inner_nav
      .over.fuzzy#write Write Question
      .under.fuzzy#choose= link_to "Choose Question", choose_question_path
    .qs_asked_today.fuzzy= render :partial => "questions/asked_today"
    .qcontainer.fuzzy#qform{:data => {:default_question_text => @default_question_text, :default_mc_answer_text => @default_mc_answer_text}}
      = render :partial => "questions/form", :locals => {:form_url => new_question_path}
      =# render :partial => "questions/post_preview"



#share_dialog
#post_share_dialog

- if flash[:notice] == "Answer Posted"
  #answer_posted_dialog
    .posted Your Answer has been Posted!
    Close this dialog to begin creating your own question that you can share with your friends!

- if @show_pitch_dlg
  #pitch_dlg
    .subhdr Ask Any Question on Our Anonymous Feedback App & Get the Truth From Anyone!
    %table
      %tr
        %td.num 1
        %td.blurb You <b>ask 5 or more friends</b><br />any question (even something personal!)
      %tr
        %td.arrow{:colspan => 2}= image_tag "questions/down_arrow.png"
      %tr
        %td.num 2
        %td.blurb They <b>answer anonymously</b><br />so you get the real truth
      %tr
        %td.arrow{:colspan => 2}= image_tag "questions/down_arrow.png"
      %tr
        %td.num 3
        %td.blurb You <b>learn things about yourself</b><br />that people aren't telling you.
    .closer= link_to "Ask My First Question!", '#'
    #do_not_show
      = check_box_tag "do_not_show_again"
      Don't show this again


- content_for :extra_javascripts do
  = javascript_include_tag 'questions/questions'
  = javascript_include_tag "questions/answer_posted" if flash[:notice] == 'Answer Posted'
  = javascript_include_tag "questions/pitch_dialog" if @show_pitch_dlg