.cm_content
  #curr_step Step 1 of 2
  - if @show_canned_answer
    #canned_answer= @show_canned_answer
  #newq_top
    #newq_hdr Ask a Personal Question and Get Honest Answers from Anyone.
    #newq_subhdr
      Ever wonder what people would reveal to you if they were being totally honest?
      = image_tag("questions/blue_question.png")
    #newq_lightbox
      Our 100% anonymous question and answer network allows you to ask anyone anything and get completely truthful responses even about things they would never tell you directly.

  .inner_content
    .inner_nav
      .over.fuzzy#write Write Question
      .under.fuzzy#choose= link_to "Choose Question", choose_question_path
    .qs_asked_today.fuzzy= render :partial => "questions/asked_today"
    .qcontainer.fuzzy#qform{:data => {:default_question_text => @default_question_text, :default_mc_answer_text => @default_mc_answer_text}}
      = render :partial => "questions/form", :locals => {:form_url => new_question_path}
      =# render :partial => "questions/post_preview"



#share_dialog
#post_share_dialog

- if flash[:notice] == "Answer Posted"
  #answer_posted_dialog
    .posted Your Answer has been Posted!
    Close this dialog to begin creating your own question that you can share with your friends!


- content_for :extra_javascripts do
  = javascript_include_tag 'questions/questions'
  = javascript_include_tag "questions/answer_posted" if flash[:notice] == 'Answer Posted'