- content_for :extra_css do
  = stylesheet_link_tag "path_pages/register/cm_reg2"

#clouds
  .cm_content
    #landing_page
      #hdr1 Ever Wonder What People Are <span id='not'>Not</span> Telling You?
      #hdr2 Ask Any Question and Get the <b>Real Truth</b> from Anyone
      #main_left
        %table
          %tr
            %td.icon= image_tag "path/two_heads.png"
            %td You <em>ask 5 or more friends</em><br /> any question (even something personal!)
          %tr
            %td.icon= image_tag "path/bubbles2.png", :style => "height: 45px"
            %td They <em>answer anonymously</em>,<br /> so you get the <i>real</i> truth.
          %tr
            %td.icon= image_tag "path/magnifier.png"
            %td You <em>learn things about yourself</em><br />that people aren't telling you.
      #main_right= image_tag "path/qbubble.png"
      .clearer

      #continue= link_to image_tag("path/sign_in_with_fb.png"), fb_button_click_path
      #qs_today
        #headline Questions <em>Asked Today</em>
        #table_wrap
          %table{:style => "width:#{@last_questions.length*260}px"}
            %tbody
              %tr
                - @last_questions.each_with_index do |q,i|
                  %td{:class => i == 0 ? 'leftest' : (i == @last_questions.length-1 ? 'rightest' : '')}
                    .qtext= q.question_text
                    .qago
                      =# time_ago_in_word(q.last_asked_at) + " ago"
                      = time_ago_in_words(Time.now-((i+rand(100)*0.01).minutes)) + " ago"
        .clearer


- content_for :extra_javascripts do
  = javascript_include_tag "path_pages/register/cm_landing2"