= semantic_form_for @user, :url => your_profile_path do |f|
  = f.inputs do
    = f.input :first_name, :label => "First Name"
    = f.input :last_name, :label => "Last Name"
    = f.input :email, :label => "Email Address"
    = f.input :birthday, :order => [:month, :day, :year], :start_year => 1920, :end_year => 2000, :prompt => {:day => "Day", :month => "Month", :year => "Year"}, :include_blank => false
    .clearer
    = f.input :zip
    = f.input :gender, :label => "Gender", :as => :select, :collection => [["Female", "f"], ["Male", "m"]]
  = f.actions do
    = f.action :submit, :label => "Save Changes"