- content_for :extra_css do
  = stylesheet_link_tag "dashboard/cm_change_password"

.cm_content

  .inner_content
    .inner_nav
      .under.fuzzy#your_profile= link_to "My Profile", your_profile_path
      .under.fuzzy#privacy_options= link_to "Privacy Options", privacy_options_path
      .over.fuzzy#change_pass Change Password


    .qcontainer.fuzzy
      = show_flash(flash)
      %fieldset.form_box
        .hdr
          %p Change Password
        = semantic_form_for @user, :url => change_password_path do |f|
          = f.inputs do
            - if @password_error
              %li.error.inline-errors= @password_error
            = f.input :password, :label => "Old Password"
            = f.input :new_password, :label => "New Password"
            = f.input :new_password_confirmation, :label => "Confirm Password"
          = f.actions do
            = f.action :submit, :label => "Save Changes"
