- content_for :extra_css do
  = stylesheet_link_tag "dashboard/forgot_password"

.cm_content
  .inner_content
    .qcontainer.fuzzy.all_round.gateway#forgot_pass
      .header_info Enter the email address you used to register and we'll send you an email to retrieve your password.
      = semantic_form_for @user, :url => forgot_password_path do |f|
        = f.inputs do
          - if flash[:password_success]
            #success= flash[:password_success]
          = f.input :email, :label => "Email Address"
          - if flash[:email_error]
            .error.inline-errors= flash[:email_error]
          .clearer
        = f.actions do
          = f.action :submit, :label => "Retrieve Your Password"
      .header_info If you didn't get any mail then please contact #{mail_to SEED_BLOCKS_ENGINE_CONFIG[:default_from_address]} for assistance.

