- content_for :extra_css do
  = stylesheet_link_tag "share/share"
  = stylesheet_link_tag "dashboard/index"


.cm_content

  .inner_content
    .inner_nav
      - if @collection_filter == "questions"
        .over.fuzzy#questions_posted Questions Posted
        .under.fuzzy#answers_posted= link_to "Answers Posted", dashboard_path(:coll => "answers")
      - else
        .under.fuzzy#questions_posted= link_to "Questions Posted", dashboard_path(:coll => "questions")
        .over.fuzzy#answers_posted Answers Posted
    .qs_asked_today.fuzzy= render :partial => "questions/asked_today"
    .qcontainer.fuzzy

      %table#dashtable
        %tbody
          - if @collection_filter == "questions"
            - if @collection.empty?
              %tr
                %td.none_posted
                  No Questions posted yet.  #{link_to "Post one now!", questions_path}
            - else
              = render :partial => "question_line_item", :collection => @collection, :as => :question
          - else
            - if @collection.empty?
              %tr
                %td.none_posted
                  No Answers posted yet.
            - else
              = render :partial => "answer_line_item", :collection => @collection, :as => :answer

#share_dialog
#post_share_dialog{:data => {:finish_path => dashboard_path}}

- content_for :extra_javascripts do
  = javascript_include_tag "dashboard/inviter"
