- content_for :extra_css do
  = stylesheet_link_tag "sb_formtastic"
  = stylesheet_link_tag "dashboard/privacy_options"

= render :partial => "dash_nav"

.prepend-top.prepend-1.span-22.append-1
  %fieldset
    %legend Edit Your Privacy Options

    .span-4
      = render :partial => "dash_sidebar"
    .span-16
      = show_flash(flash)
      %fieldset.form_box
        .hdr
          %p Privacy Options
        = semantic_form_for @user, :url => privacy_options_path do |f|
          = f.inputs do
            = f.input :privacy_ask_questions, :label => "Who can send you questions?", :as => :radio, :collection => [["Anyone can ask you questions.", 0], ["Only CritiqueMe members with name and photos can ask you questions.", 1]]
          = f.buttons do
            = f.commit_button "Save Changes"
