- content_for :extra_css do
  = stylesheet_link_tag "dashboard/privacy_options"


.cm_content

  .inner_content
    .inner_nav
      .under.fuzzy#your_profile= link_to "My Profile", your_profile_path
      .over.fuzzy#privacy_options Privacy Options
      .under.fuzzy#change_pass= link_to "Change Password", change_password_path


    .qcontainer.fuzzy
      = show_flash(flash)
      %fieldset.form_box
        .hdr
          %p Privacy Options
        = semantic_form_for @user, :url => privacy_options_path do |f|
          = f.inputs do
            = f.input :privacy_ask_questions, :label => "Who can send you questions?", :as => :radio, :collection => [["Anyone can ask you questions.", 0], ["Only CritiqueMe members with name and photos can ask you questions.", 1]]
          = f.actions do
            = f.action :submit, :label => "Save Changes"


- content_for :extra_javascripts do
  = javascript_include_tag "dashboard/privacy_options"