- content_for :extra_css do
  = stylesheet_link_tag "dashboard/forgot_password"

.cm_content
  .inner_content
    .qcontainer.fuzzy.all_round.gateway#forgot_pass
      .header_info Enter a new password.  You'll be immediately logged in to your account.
      = semantic_form_for @user, :url => reset_password_path do |f|
        = f.inputs do
          = f.input :password, :label => "New Password"
          .clearer
          - if flash[:password_error]
            .error.inline-errors= flash[:password_error]
        = f.actions do
          = f.action :submit, :label => "Reset Password"



