- content_for :extra_css do
  = stylesheet_link_tag "questions/new_question"
  = stylesheet_link_tag "dashboard/cm_sign_in"

.grad_bg
  .cm_content
    .inner_content
      .qcontainer.fuzzy.all_round.gateway#signup

        .form_hdr Sign in with your email address and password:
        = semantic_form_for @user, :url => sign_in_path do |f|
          = f.inputs do
            = f.input :email, :label => "Email Address"
            = f.input :password
            .clearer
            - if flash[:sign_in_error]
              .error.inline-errors= flash[:sign_in_error]
            #forgotter= link_to "Forgot Password?", forgot_password_path
          = f.actions do
            = f.action :submit, :label => "Sign In"

- content_for :extra_javascripts do
  = javascript_include_tag "dashboard/sign_in"
  = javascript_include_tag "questions/resize_cm_content"