= hidden_field_tag "imported_emails", @contacts.map{|c| c['email']}.join(",")
= hidden_field_tag "imported_names", @contacts.map{|c| c['name']}.join(";")
= hidden_field_tag "question_id", @question.try(:id)
.contacts
  %table
    - @contacts.each_with_index do |c, i|
      %tr{:class => cycle('odd', 'even')}
        %td= check_box_tag "contact_#{i}", "1", true, :class => "contact_check"
        %td= c['name']
        %td= c['email']