.qpreview
  %table
    %tr
      - if @question.photo.url
        %td.qimage{:data => {:question_id => @question.id}}
          = link_to image_tag(@question.photo.thumb.url), '#'
      %td.qcontent
        .qtext
          = @question.question_text_pretty
          - unless @question.canned_question_id
            %span.edit= link_to "Edit Question &raquo;".html_safe, edit_question_path(@question)
        .qanswers
          - if @question.question_type == Question::QUESTION_TYPES.index(:multiple_choice)
            - @question.multiple_choice_options.map(&:answer_text).each do |a|
              = radio_button_tag 'mc', 0, false, :disabled => true
              %label= a
          - elsif @question.question_type == Question::QUESTION_TYPES.index(:true_false)
            = radio_button_tag 'tf', 0, false, :disabled => true
            %label Yes
            = radio_button_tag 'tf', 0, false, :disabled => true
            %label No
          - elsif @question.question_type == Question::QUESTION_TYPES.index(:open_text)
            =# text_area_tag 'ot', '', :disabled => true

  #box_header
    Invite your friends to answer -
    %span#step2 STEP 2 OF 2
  #invite_box
    #invite_nav
      %ul
        %li.selected= link_to "Facebook", '#', :class => "facebook"
        - if @question.public?
          %li= link_to "Twitter", '#', :class => "twitter"
        %li= link_to "Gmail", '#', :class => "gmail"
        %li= link_to "Yahoo", '#', :class => "yahoo"
        %li= link_to "Hotmail/Live", '#', :class => "hotmail"
        %li= link_to "Manually", '#', :class => "manual"
        /%li= link_to "Critiquers", '#', :class => "critiquers"
    #invite_content
      .content_block#facebook.selected
        =# render :partial => "partials/fb_like_button"
        = render :partial => "partials/fb_friend_select"

      - if @question.public?
        .content_block#twitter
          = render :partial => "partials/tweet_button", :locals => {:hashtag => "CritiqueMe", :text => "Come answer my question!", :related => ''}

      .content_block#contact
        .content_header Invite Your <span class='provider'></span> Contacts
        #email_entry.content_form= render :partial => "share/get_contacts"
        #select_contacts
          #contact_table.content_form
        #contact_form_spinner= image_tag("/assets/admin/layout/form_spinner.gif")

      .content_block#manual
        Have a stack of business cards?  Invite your contacts manually via email.
        = form_tag manual_share_path, :remote => true do
          = hidden_field_tag 'question_id', @question.id
          %fieldset.inputs.single_row.inline
            = text_field_tag 'emails'
            .buttons.inline= submit_tag "Invite"
            .inline#manual_spinner= image_tag "/assets/admin/layout/form_spinner.gif"
        %small Lots of people to invite?  Separate multiple email addresses with commas


      .content_block#critiquers
        Critiquers

    .clear

= javascript_include_tag "share/share"