#header
  %div{:class => params[:controller] == 'welcome' ? "hinner" : ''}
    #logo
      = link_to image_tag("logo_white.png"), @user && @user.id ? choose_question_path : welcome_path
      #tagline Ask the hard questions
    %ol#nav
      - if @user && @user.id
        %li.leftest.selected= link_to "Ask Question", choose_question_path
        %li
          = link_to "My History", dashboard_path
        %li.rightest
          = link_to "My Profile", your_profile_path
      - elsif params['action'] != 'sign_in'
        %li= link_to "Sign In", sign_in_path
      - else
        %li= link_to "Sign Up", welcome_path
