#header
  #logo
    = link_to image_tag("logo_white.png"), dashboard_path
    #tagline Ask the hard questions
  %ol#nav
    - if @user && @user.id
      %li#dummy &nbsp;
      %li{:class => params['controller'] == 'dashboard' && params['action'] == 'index' ? 'selected' : '' }
        = link_to "Dashboard", dashboard_path
      %li{:class => params['controller'] == 'questions' ? 'selected' : '' }
        = link_to "Questions", questions_path
      %li{:class => params['controller'] == 'dashboard' && params['action'] != 'index' ? 'selected' : ''}
        = link_to "My Profile", your_profile_path
    - elsif params['action'] != 'sign_in'
      %li.button= link_to "Log In", sign_in_path
    - else
      %li.button= link_to "Sign Up", welcome_path