#footer
  #copyright
    &copy;2012 CritiqueMe
    %br
    All rights reserved.
  #footer_twitter= link_to image_tag("footer/footer_twitter.png"), 'http://twitter.com/critiquemeapp', :target => "_blank"
  #footer_facebook= link_to image_tag("footer/footer_facebook.png"), 'https://www.facebook.com/CritiqueMe', :target => "_blank"
  /#linkedin= link_to image_tag("footer/footer_linkedin.png"), '#'
  #fnav
    = link_to "HOME", questions_path
    &nbsp;&bull;&nbsp;
    = link_to "ABOUT US", about_us_path
    &nbsp;&bull;&nbsp;
    = link_to "FAQ", faq_path
    &nbsp;&bull;&nbsp;
    = link_to "CONTACT US", contact_us_path
    &nbsp;&bull;&nbsp;
    = link_to "TERMS", tos_path
    &nbsp;&bull;&nbsp;
    = link_to "PRIVACY", privacy_path
    - if @user.id
      &nbsp;&bull;&nbsp;
      = link_to "SIGN OUT", sign_out_path
  #powered_by_sb= link_to image_tag("footer/powered_by_sb.png"), "http://seedblocks.com", :target => "_blank"