#fb_friend_select
  #fb_friend_blurb
    Don't worry, your question won't be posted on Facebook.  Your friends will only receive an invitation to view your question privately.
    %br
    %br
    The more friends you invite the better.  You can "invite all" or choose them one by one.  You must choose at least 3 friends so they know their answers will be anonymous.

  #fb_friend_list
    - if @fb_friends && @fb_friends.length > 0
      = form_tag(share_friends_path(:question_id => @question.id), :remote => true, :id => "send_to_friends_form") do
        = hidden_field_tag "imported_friends", @fb_friends ? @fb_friends.map{|f| f['id']}.join(",") : ''
        = hidden_field_tag "imported_names", @fb_friends ? @fb_friends.map{|f| f['name']}.join(";") : ''
        .friends
          %table
            - @fb_friends.each_with_index do |c, i|
              %tr{:class => cycle('odd', 'even')}
                %td= check_box_tag "friend_#{i}", "1", true, :class => "friend_check"
                %td= image_tag "http://graph.facebook.com/#{c['id']}/picture"
                %td= c['name']
        %p.selectors
          %small
            %em
              = link_to "[select all]", '#', :id => 'fb_select_all'
              &nbsp;&nbsp;
              = link_to "[unselect all]", '#', :id => 'fb_unselect_all'
        .buttons
          = submit_tag "Ask Friends Your Question", :disable_with => "Asking..."
          #friend_form_spinner= image_tag("/assets/admin/layout/form_spinner.gif")

    - else
      = render :partial => "partials/fb_like_button"

  #post_to_fb_spinner= image_tag("/assets/admin/layout/form_spinner.gif")
