- content_for :extra_css do
  = stylesheet_link_tag "path_pages/register/cm_reg"

.cm_content
  #landing_page
    #hdr1 Get honest answers from anyone!
    #hdr2 Get anonymous, honest answers to your burning questions.
    %ul#circles
      %li
        = image_tag "path/question_marks.png"
        %br
        %br
        You ask 5 or more friends a question.  Any question.
      %li
        = image_tag "path/speech_bubbles.png"
        %br
        %br
        They answer anonymously, so you can't tell who said what.
      %li
        = image_tag "path/lightbulb.png"
        %br
        %br
        You get the whole truth, from people you know.
    #hdr3 Are you ready for the truth?
    #continue= link_to image_tag("path/sign_up_its_free.png"), fb_perms_redirect_url('email,publish_stream,publish_actions')
    #qs_today
      #headline Recent Questions
      #table_wrap
        %table{:style => "width:#{@last_questions.length*260}px"}
          %tbody
            %tr
              - @last_questions.each_with_index do |q,i|
                %td{:class => i == 0 ? 'leftest' : (i == @last_questions.length-1 ? 'rightest' : '')}
                  .qtext= q.question_text
                  .qago= time_ago_in_words(q.last_asked_at || Time.now-13.days) + " ago"

- content_for :extra_javascripts do
  = javascript_include_tag "path_pages/register/cm_landing1"