= semantic_form_for @canned_question, :url => url do |f|
  = f.inputs do
    = f.input :category, :prompt => "Choose a category", :collection => Category.for_select
    = f.input :text, :as => :string, :label => "Question"
    = f.input :num_choices, :as => :number, :label => "Number of Friend Choices"
    .clearer
  = f.actions do
    - if @canned_question.new_record?
      = f.action :submit, :label => "Create Canned Question"
    - else
      = f.action :submit, :label => "Edit Canned Question"
