= semantic_form_for @category, :url => url do |f|
  = f.inputs do
    = f.input :name
    = f.input :active
    .clearer
  = f.actions do
    - if @category.new_record?
      = f.action :submit, :label => "Create Category"
    - else
      = f.action :submit, :label => "Edit Category"
