- content_for :extra_css do
  = stylesheet_link_tag "questions/new_question"
  = stylesheet_link_tag "path_pages/share/three_options"

.grad_bg
  .cm_content
    .inner_content
      .qcontainer.fuzzy.all_round
        #content_top
          .left#step Step 2 of 2:
          .left Share Your Question Everywhere, Get as Much Feedback as Possible
          .right= link_to "Edit Question", edit_question_path(@question)
          .clearer
        #content_title Three Options for Sharing Your Question
        #three_options
          .num 1
          .option
            .hdr Copy/Paste Your Unique Question Link
            .blurb Share in Emails, on Facebook, or on Twitter.  The more people you share with, the more valuable the feedback.
            .referral_link.highlightable= link_to question_referral_url(@user.referral_token[@user.referral_token.length-4, 4], @question.id), '#'
            .more_info= link_to image_tag("path/info_i.png"), '#'
          .clearer

          .num 2
          .option
            .hdr Choose From Your Existing Contacts on the Following Services:
            .blurb Quickly scan your address book from any of these services to find people you know.
            .importers
              .importer_link{:data => {:provider => 'gmail'}}= link_to image_tag('path/grey_gmail.jpg'), '#'
              .importer_link{:data => {:provider => 'yahoo'}}= link_to image_tag('path/grey_yahoo.jpg'), '#'
              .importer_link{:data => {:provider => 'live'}}= link_to image_tag('path/grey_hotmail.jpg'), '#'
              .more_info= link_to image_tag("path/info_i.png"), '#'
          .clearer

          .num 3
          .option
            .hdr Enter Your Friends' Email Addresses:
            .blurb Separate email addresses with a comma.
            .manual
              = form_tag path_manual_share_path do
                = hidden_field_tag 'question_id', @question.id
                = text_area_tag "emails"
                = image_submit_tag "path/email_question_button.png"
          .clearer

#imported
  #contact_table.content_form
  %p.selectors
    %small
      %em
        = link_to "[select all]", '#', :id => 'select_all'
        &nbsp;&nbsp;
        = link_to "[unselect all]", '#', :id => 'unselect_all'
  %p.buttons= submit_tag "Done"

- content_for :extra_javascripts do
  = javascript_include_tag "path_pages/share/three_options"
  = javascript_include_tag "questions/resize_cm_content"