- content_for :extra_css do
  = stylesheet_link_tag "questions/new_question"

= render :partial => "questions/question"

- content_for :extra_javascripts do
  = javascript_include_tag "questions/choose_question"
  = javascript_include_tag "questions/resize_cm_content"
  = javascript_include_tag "questions/show_share"