%html
  %body
    %p Thanks for signing up for CritiqueMe!  You're going to be fascinated with what you discover from your friends and contacts when they can respond anonymously.
    %p
      Why not get started with some of these options?  (You can edit the text before asking...)
      %ul
        %li Ask your coworkers, #{link_to "What do you think of my performance at work?", new_question_url(:default_question_id => 144)}
        %li Ask your friends, #{link_to "Do you think my relationship will last?", new_question_url(:default_question_id => 118)}
        %li Ask your contacts, #{link_to "What do you think is the best career for me?", new_question_url(:default_question_id => 145)}
      Or #{link_to "click here", choose_question_url} to ask your own unique question.
    %p As always, if you have any feedback, compliments, or just want to say hello, you can reach out to us anytime at #{mail_to "contact@critiqueme.com"}.  We promise to respond to every email.
    %p
      Welcome to CritiqueMe!
      %br
      The CritiqueMe Team

    = email_tracking(@tracker_id)