= semantic_form_for @default_question, :url => url do |f|
  = f.inputs do
    = f.input :category, :prompt => "Choose a category", :collection => Category.for_select
    = f.input :question_text, :as => :string, :label => "Question"
    = f.input :question_type, :as => :question_type, :label => "Answer Format"
    = f.input :questionnaire_id, :as => :hidden
    .clearer

  - cnt = 0
  #multiple_choice_answers.hidden
    #add_answers.quiet Add Answers
    #add_button= link_to image_tag("/assets/questions/plus_button.jpg"), '#'
    = f.inputs :class => "inputs multi_choice", :for => :default_multiple_choice_options do |g|
      - cnt += 1
      = g.input :answer_text, :as => :string, :label => "Answer ##{cnt}", :wrapper_html => {:class => 'mchoice'}

  = f.buttons do
    - if @default_question.new_record?
      = f.commit_button "Create Default Question"
    - else
      = f.commit_button "Edit Default Question"