= content_for :side_menu do
  %ol.nav
    %li
      = link_to "&laquo; All Questions".html_safe, admin_default_questions_path
      = link_to "&laquo; This Question".html_safe, admin_default_question_path(@default_question)

%h1 Edit Default Question

= render :partial => "form", :locals => {:url => admin_default_question_path(@default_question)}

- content_for :extra_javascripts do
  = javascript_include_tag 'questions/questions'